body {
    background-color:aqua;
}

#container {
    background-color: #c2c2a3;
    border: 5px solid white;
    height: 500px;
    width: 780px;
    margin: 30px auto;
    text-align: center;
}

#btn {
    margin: 50px auto;
    background-color: thistle;
    height: 50px;
    width: 250px;
    font-size: 1em;
}

#output{
    margin: 50px auto;
    font-size: 2em;
    color: #6600ff;
}